
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    line-height: 1.6;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}


.header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

.header .logo {
    font-size: 24px;
    display: inline-block;
    font-family:Magneto;
}

.nav ul {
    float: right;
    list-style: none;
}

.nav ul li {
    
    display: inline;
    margin-left: 20px;
    margin-bottom: 200px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
}


.hero {
    background: #f4f4f4;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .hero-text h2 {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background: #ff7f00;
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    margin-top: 10px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
   padding-left:900px ;
  margin-top: auto;
}


.cards {
    padding: 20px 0;
}

.cards h3 {
    text-align: left;
    margin-bottom: 20px;
    font-size: larger;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    background: #f4f4f4;
    padding: 15px;
    width: 30%;
    text-align: center;
    border: 1px solid #ddd;
}

.card-image {
    background: #727272;
    height: 150px;
    margin-bottom: 10px;
}


.footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content h4 {
    margin-bottom: 10px;
}

.footer-content ul {
    list-style: none;
}

.footer-content ul li {
    margin-bottom: 5px;
}