nav{
    background-color: rgb(11, 11, 11);
    font-size: larger;
    font-weight: bolder;
}

.navbar .navbar-nav .nav-link {
    color: rgb(245, 253, 250);
   
 }
 .btnLogin-popup {
    width: 130px;
    height: 40px;
    background-color:rgb(251, 243, 247);
    border: 2px solid #fff;
    outline:none;
    border-radius: 1px;
    cursor: pointer; 
    font-size: 1em;
    color: black;
    font-weight: 500;
    margin-left: 50px;
    margin-top: 10px;
}
.btnLogin-popup:hover {
    background:#0a0a0a;
    color:#eef1f4;
}/* Styles for wrapping the search box */


.form-control{
background-color: rgb(255, 255, 255);
width: 200px;
}
.fa-search{
    background-color: #eef5f5;
}
.btn-outline{
    color: rgb(6, 6, 6);
    outline: 1px solid rgb(0, 0, 0);
}
.d-flex{
    margin-top: 10px;
}
.btn{
    background-color: rgb(252, 247, 247);
}
.nav-link:hover{
   
    font-size: larger;
    font-weight: bolder;
}
.dropdown-item{
    color: rgb(245, 242, 242);
    background-color: #0a0a0a;
}
.dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
        display:block;
    }
    .navbar ul li a:hover{
        background-color: rgb(64, 67, 67);
        border-radius: 10%;
    }.card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
      }
      
      
      .image-card {
        width: 300px; 
        margin: 16px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
      
     
      .image-card img {
        width: 100%;
        height: 60%;
        display: block;
      }
      
     
      .image-card h2 {
        color:black;
        font-size: 1.5em;
        margin: 8px;
        font-family:cursive;
      }
     
      .image-card p {
        color:#080808;
        font-size: 1em;
        line-height: 1.4;
        margin: 8px;
      }
      
      
      .image-card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: translateY(-4px);
        transition: box-shadow 0.3s, transform 0.3s; 
    }
    .btn{
        background-color: #0a0a0a;
        background: fixed;
    }
    .card-container{
    background-color: rgb(255, 255, 255);
}
.image-card{
    height: 90%;
}
.image-card.btn{
    
    padding-left: 6px;
}