nav{
    background-color: rgb(6, 6, 6);
    font-size: larger;
    font-weight: bolder;
}
.navbar .navbar-nav .nav-link {
    color: rgb(245, 253, 250);
    height: 70px;
 }
 .btnLogin-popup {
    width: 130px;
    height: 40px;
    background-color:rgb(251, 243, 247);
    border: 2px solid #fff;
    outline:none;
    border-radius: 1px;
    cursor: pointer; 
    font-size: 1em;
    color: black;
    font-weight: 500;
    margin-left: 50px;
    margin-top: 10px;
}
.btnLogin-popup:hover {
    background:#353435;
    color:#0f171d;
}
