nav{
    background-color: rgb(11, 11, 11);
    font-size: 20px;
    font-style:Solid Italic ;
}

.navbar .navbar-nav .nav-link {
    color: rgb(245, 253, 250);
   
 }
#tab-register{
 background-color: #ddd;
 border-radius: 8px;
 border-style: double;

}


.form-control{
background-color: rgb(255, 255, 255);
width: 200px;
}
.fa-search{
    background-color: #eef5f5;
}
.btn-outline{
    color: rgb(6, 6, 6);
    outline: 1px solid rgb(0, 0, 0);
}
.d-flex{
    margin-top: 10px;
}

.nav-link:hover{
   color: #080808;
}
.dropdown-item{
    color: rgb(245, 242, 242);
    background-color: #0a0a0a;
}
.dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
        display: block;
    }
    .navbar ul li a:hover{
        border-top: 4px solid #000000;
        border-bottom: 4px solid #000000;
        padding: 6px 0px;
        
        
    }.card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 

      }
      
      
      .image-card {
        width: 300px; 
        
        margin: 5px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
      }
      .image-card .btn{
       margin-left: 20px;
      }
      
     
      .image-card img {
        width: 100%;
        height: 80%;
        display: block;
      }
      
     
      .image-card h2 {
        color:black;
        font-size: 1.5em;
        margin: 8px;
        font-family:cursive;
      }
     
      .image-card p {
        color:#080808;
        font-size: 1em;
        line-height: 1.4;
        margin: 8px;
      }
      
      
      .image-card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: translateY(-4px);
        transition: box-shadow 0.3s, transform 0.3s; 
    }
    .btn{
        background-color: #0a0a0a;
        background: fixed;
    }

    