nav{
    background-color: rgb(6, 6, 6);
    font-size: larger;
    font-weight: bolder;
}
.fa-twitter{
    color: rgb(187, 12, 134);
    
}
.fa-facebook{
    color: rgb(187, 12, 134);
    
}
.fa-google-plus-square{
    color: rgb(187, 12, 134);
}
.navbar .navbar-nav .nav-link {
    color: rgb(245, 253, 250);
    margin-left: 70px;
 }
 .dropdown-item{
    color: #b2700c;
    font-size: larger;
    font-weight: bolder;
}
.dropdown-item:hover{
    background-color: rgb(173, 17, 82);
    font-size: larger;
    font-weight: bolder;
}
 .btnLogin-popup {
    width: 130px;
    height: 40px;
    background-color:rgb(223, 213, 218);
    border: 2px solid #fff;
    outline:none;
    border-radius: 1px;
    cursor: pointer; 
    font-size: 1em;
    color: black;
    font-weight: 500;
    margin-left: 50px;
    margin-top: 10px;
}
.btnLogin-popup:hover {
    background:#f9f7f8;
    color:#0f171d;
}
.hero-headline{
    margin-top: 100%;
    top: 100%;
    padding-top: 70px;
    font-family: Algerian;
    font-weight: bolder;
    color: #170761;
    
}
.dropdown-menu li {
    position: relative;
    }
    .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }
    .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }
    .dropdown-menu > li:hover > .dropdown-submenu {
        display: block;}

  