 
            h1{
                text-decoration: underline rgb(20, 20, 20);
                color: rgb(226, 155, 155);
              
            }
            table{
                
                padding:25px;
                padding-left:100px ;
                text-align: center;
                padding-right:100px;
                color: rgb(255, 255, 255);
                
            }
            input[type=text],input[type=email] ,input[type=number]{
                width: 50%;
                padding:6px 12px;
                margin:5px 0;
                box-sizing: border-box;
            }         
             td{
                text-align:left;
                font-size: 22px;
            }
            input[type=submit],input[type=reset]{
              width:20%;
              padding: 8px 12px;
              margin:5px;
              box-sizing: border-box;
              background-color: rgb(252, 252, 252);
              color: rgb(10, 10, 10);
            }           
            *{
                margin: 0;
                Padding: 0;
                box-sizing: border-box;
                font-family: "poppins", sans-serif;
            }
            body{
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 100vh;
                background: url("img7.jpg") no-repeat;
                background-size: cover;
                background-position: center;
            }
            .wrapper{
                width: 420px;
                background: transparent;
                border: 2px solid rgba(255, 255, 255, 0.823);
                backdrop-filter: blur(10px);
                color: #efeeee;
                border-radius: 12px;
                padding: 30px 40px;
            }
            h1{
                font-size: 36px;
                margin-left:200px ;
               
            }
            .wrapper .input-box{
                position: relative;
                width: 100%;
                height: 50px;
                
                margin: 30px 0;
            }
            .input-box input{
                width: 100%;
                height: 100%;
                background: transparent;
                border: none;
                outline: none;
                border: 2px solid rgba(255, 255, 255, .2);
                border-radius: 40px;
                font-size: 16px;
                color: #f4f6f3;
                padding: 20px 45px 20px 20px;
            }
            .input-box input::placeholder{
                color: #ebe7e7;
            }
            .input-box i{
                position: absolute;
                right: 20px;
                top: 15px;
                transform: translate(-50%);
                font-size: 20px;
            }
             .wrapper .remember-forgot{
                display: flex;
                justify-content: space-between;
                font-size:px 14.5px;
                margin: -15px 0 15px;
                  
            }
            .remember-forgot label input{
                accent-color: #dbd7de;
                margin-right: 3px;
            
            }
            .remember-forgot a{
                color: #ba12a6;
                text-decoration: none;
            
            }
            .remember-forgot a:hover{
                text-decoration: underline;
            }
            .wrapper .btn{
                width: 100%;
                height: 45px;
               
                border: none;
                outline: none;
                border-radius: 40px;
                box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                cursor: pointer;
                font-size: 16px;
                color: #333;
                font-weight: 600;
            }
            .wrapper .register-link{
                font-size: 14.5px;
                text-align: center;
                margin: 20px 0 15px;
            }
            .register-link p a{
                
                text-decoration: none;
                font-weight: 600;
            }
            .register-link p a:hover{
                text-decoration:underline;
            }
            